@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css");
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 18px;
}

  
  .section-center {
    margin: 0 auto;
    height: 550px; 
    position: relative;
  }

  .section{
    background-color:hsl(210, 36%, 96%);;

  }
 
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition:all 0.3s linear;
  }
  .prev:hover,
  .next:hover {
    background:  hsl(21, 62%, 45%);
  }
  .prev {
    left: 3%;
  }
  .next {
    right: 3%;
  }
  article {
    position: absolute;
    /* width: 100%; */
    opacity: 0;
    transition: all 0.3s linear;
  }
  article.activeSlide {
    opacity: 1;
    transform: translateX(0);
    transition: 1.5s ease-in-out ;
  }
  article.lastSlide {
    transform: translateX(-100%);
  } 
  article.nextSlide {
    transform: translateX(100%);
  }
